@import "~bootstrap/scss/bootstrap.scss";

html{
    box-sizing: border-box;
}

.bg-secondary{
    background-image: url(../img/guitar.png), url(../img/vowel.png);
    background-repeat: no-repeat, no-repeat;
    background-position: bottom left, bottom right;
}